@model StatiiIncarcare.Models.ViewModels.AddPlugModel;

@{
    ViewData["Title"] = "Adauga priza noua";
}


<h2>Create New Plug</h2>
<form  asp-controller = "Prize" asp-action = "AddPriza" method="post" class ="mt-3">
    <select asp-for = "IdTip">
       @foreach(var item in Model.TipPrize)
       {
           <option value ="@item.IdTip">@item.Nume </option>
          
       }
    </select>
    <input readonly asp-for = "@Model.IdStatie" hidden >
   
    <p><button type="submit">Submit</button></p>
</form>
