@model Statii


<h2>Create</h2>
<form method="post">
    <p>
        <label asp-for="Nume">Nume:</label>
        <input asp-for="Nume" />
    </p>
    <p>
        <label asp-for="Oras">Oras:</label>
        <input asp-for="Oras" />
    </p>
     <p>
        <label asp-for="Adresa">Adresa:</label>
        <input asp-for="Adresa" />
    </p>
   
    <p><button type="submit">Submit</button></p>
</form>
